h1 {
    display:flex;
    justify-content: center;
}

button {
    display: flex;
    margin: auto;
    margin-bottom: 25px;
}

#sketchContain {
    display: flex;
    flex-flow: row wrap;
    margin: 16px 25px;
    justify-content: center;
    align-content: center;
    gap: 1px;
}

.hovered {
    background-color: black;
    color: white;
}

.unhovered {
    background-color: white;
    color: black;
}