h1 {
    display:flex;
    justify-content: center;
}

button {
    display: flex;
    margin: auto;
    margin-bottom: 25px;
}

#sketchContain {
    width: 95%;
    height: 1000px;
    max-height: 1000px;
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    margin: 16px auto;
}

.hovered {
    background-color: black;
    color: white;
}

.unhovered {
    background-color: white;
    color: black;
}